* {
    font-size: medium;
    font-family: "Times New Roman";

}

#input_fields {
    width: 50%;
}

#scrum_application {
    font-size: medium;
    font-family: "Times New Roman";


}


#scrum_application li .title-view{
    display: block ;
}
#scrum_application li .title-edit{
    display: none ;
}
#scrum_application .title-to-edit .title-edit{
    display: block ;
}
#scrum_application .title-to-edit .title-view{
    display: none ;
}


#scrum_application li .view-description{
    display: block ;
}
#scrum_application li .description-edit{
    display: none ;
}
#scrum_application .description-to-edit .description-edit{
    display: block ;
}
#scrum_application .description-to-edit .description-view{
    display: none ;
}


#scrum_application li .estimation-view{
    display: block ;
}
#scrum_application li .estimation-edit{
    display: none ;
}
#scrum_application .estimation-to-edit .estimation-edit{
    display: block ;
}
#scrum_application .estimation-to-edit .estimation-view{
    display: none ;
}

#scrum_application li .assignee-view{
    display: block ;
}
#scrum_application li .assignee-edit{
    display: none ;
}
#scrum_application .assignee-to-edit .assignee-edit{
    display: block ;
}
#scrum_application .assignee-to-edit .assignee-view{
    display: none ;
}


#scrum_application li {
    position: relative;
    border-bottom: 1px solid lightgray;
};